.mainHeading {
    margin-left: 5rem;
    margin-top: 6rem;
}

.tableStyle {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.queryTable {
    margin-top: 5rem;
    overflow-y: auto;
    height: 35rem;
}